@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'DM Sans', sans-serif;
}

@layer base {
    .rounded-picker::-webkit-color-swatch {
        border-radius: 50%;
        border: var(--color-primary-foreground) 2px solid;
    }

    .rounded-picker::-moz-color-swatch {
        border-radius: 50%;
        border: var(--color-primary-foreground) 2px solid;
    }

    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../assets/fonts/DMSans.woff2') format('woff2');
    }

    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        src: url('../assets/fonts/DMSans.woff2') format('woff2');
    }

    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        src: url('../assets/fonts/DMSans.woff2') format('woff2');
    }

    @font-face {
        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 400;
        src: url('../assets/fonts/DMMono.woff2') format('woff2');
    }

    .font-console {
        font-family: 'DM Mono', monospace;
    }
}